p{
    color: #FFFFFF;
    position: absolute;
    padding: 91px;
    display: flex;
    justify-content: center;

    font-weight: 500;
    font-size: 40px;
    line-height: 16px;
    margin-top: 200px;

    min-width: 2rem;


}

form{
    position: relative;
    display: flex;
    z-index: 3;
}

img.fileBackground-image{
    display: flex;
    z-index: -3;
}


