.DropZoneComponent{
    margin-bottom: 10rem;
}

p{
    color: #FFFFFF;
    position: absolute;
    display: flex;
    justify-content: center;

    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    margin-top: 300px;
    margin-left: 250px;

    min-width: 2rem;
}

form{
    position: absolute;
    display: flex;
    z-index: 3;
}

.fileBackground-image{
    display: flex;
    z-index: -3;
}

div.choosed-image-container{
    padding-inline-start: 15rem;
    padding-top: 3rem;
}

.choosed-image-container img{
    display:block;
    margin: auto;
}


