body{
    filter: drop-shadow(0px 6px 7px rgba(0, 0, 0, 0.3));
    background-color: #15141F;
}

.login-form{
    display:flex;
    flex-direction:column;
    margin: auto;
}

.input-username{
    margin: 0.5rem;
}

.profile-image{
    width: 8rem;
    margin: auto;
}

input#name{
    border-radius: 39px;
    border: none;
    background: #ffff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    width: 80%;
    margin: auto;
    color: #051e0e;

    display: flex;
    text-align: center;
}

button.login-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    background-color: #186434;
    color: #fff;
    border: none;
    font-size: 18px;
    border-radius: 50px;
    width: 7rem;
    padding: 10px;
    margin-top: 2rem;

}

button.login-button-container:hover{
    background-color: #466e4a;
}
