

/* p{
    color: #ffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
} */

.login-container{
    margin: auto;
    margin-top: 40px;
}

.arrow-icon{
    color: #ffff;
    width: 50rem;
    height: 1.5rem;
    display: flex;
    margin-top: 8rem;
    padding-right: 17rem;
}

/* .button{
    margin:auto;
    margin-top: 30px;   
    margin-bottom:0;
    border-radius: 40px;
    
} */

/* form.login-form{
    width: 313px;
    height:426px;
    margin: auto;
    padding-top: 2rem;
    box-sizing: border-box;
    margin-top: 2rem;
} */

.login-container img.image{
    background: none;
    width: 20rem;
    height: 20rem;
}

/* input#name, input#email{
    margin:0.5rem;
}  */
