*{
    box-sizing: border-box;
}

.login-button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    gap: 10px;

    position: absolute;
    left: 69.1%;
    right: 3.89%;
    top: 55.89%;
    bottom: 39.11%;

    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.login-button:hover{
    background-color: #569B51;
}

.google-logo{
    margin: 0;
    background: none;
    
}


