
body{
    min-width: 1300px;
    min-height: 100px;
    max-width: 1300px;
    max-height: 100px;
}

.login-container {
    background: #6AB972;
    width:313px;
    height:406px;
    margin:auto;
    box-sizing: border-box;
    border-radius: 52px;
    color: #ffff;
    left: calc(50% - 313px/2 - 0.5px);
    top: calc(50% - 406px/2 + 5px);


    display: flex;
    justify-content: center;
    padding-top: 4rem; 
    margin-top: 10rem;
}

p.hackathon-text{
    font-size: 1rem;
    font-weight: 300;
    margin: auto;
    margin-top: 32rem;
    opacity: 70%;
}

