.login-button{
    display: flex;
    padding-top: 9px;
    align-items: center;
    gap:10px;

    position: absolute;
    left: 69.1%;
    right: 3.89%;
    top: 55.89%;
    bottom: 39.11%;

    border: 1px solid #FFFFFF;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    
}

.login-button:hover{
    background-color: #569B51;
}

.google-logo{
    padding-left: 19.98px;
    padding-top: 4px;
    padding-bottom: 8px;
    background: none;
    
}




