*{
  background-color: #130F26;
  font-family: 'Montserrat', sans-serif;
}

body{
  margin-left: 53px;
  margin-right: 55.98px;
  margin-top: 98px;
  margin-bottom: 54px;
}

.fileBackground-image{
  width: 822px;
  height: 597px;
  left: 53px;
  top: 98px;
}


hr.line {
  width: 389.05px;
  top: 456px;
  left: 995px;
  border: 2px solid #39424E;
  }

.login-welcome-container{
  display: flex;
  flex-direction: column;
}

h6{  
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: justify;
  letter-spacing: 0.4px;

  color: #FFFFFF;
}

h2{
  font-weight: 500;
  font-size: 34px;
  line-height: 36px;
  color: #FFFFFF;
}

