*{
  background-color: #130F26;
  font-family: 'Montserrat', sans-serif;
}

.fileBackground-image{
  width: 822px;
  height: 597px;
  left: 53px;
  top: 98px;
}


hr.line {
  width: 389.05px;
  top: 456px;
  left: 995px;
  border: 2px solid #39424E;
  }

.login-welcome-container{
  display: flex;
  flex-direction: column;
}

